<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
</head>
<body>
    OK
    tabla con todos los datos
    Usuario - Nombre - Apellido - Celular - Direccion
    Estado de su contrato -Fecha de contrato
    Servicios activos
    Fecha de emision de fatura- Fecha de vencimineto - Valor - Estado de la facturas -> Si el estado de la factura esta vencida entrara en estado de contrato en suspendido
    Metodo de pago -> Si ya pago

    Boton de Generar facturas 1 mes min 2 max
</body>
</html>